<html lang="en" ng-app="beachApp">

<head>
  <title>iGoodTimes</title>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <meta name="viewport" content="initial-scale=1" />
</head>

<body layout='column'>
  <md-content layout="column" flex class="md-padding">
    <md-card ng-controller="BeachCountDown">
      <md-toolbar layout='row' layout-align='center center'>
        <span>
          {{countDown > 0 ? countDown + " days until" : "It's"}} Beach Week!
        </span>
      </md-toolbar>
      <p bw-date-range='current' style='text-align: center;' layout-padding></p>
    </md-card>
    <md-card style='text-align: center' ng-controller="BeachCalendar">
      <md-toolbar layout='row' layout-align='center center'>
        <span>Beach Weeks for year: 
        <input type=number min=2006 ng-model='year'/>
        </span>
      </md-toolbar>
      <p bw-date-range='i' ng-repeat='i in weeks'></p>
      <div class="md-actions" layout="row">
        <md-button ng-show='year > 2006' ng-click='year = year - 1' hide-gt-sm>
          &lt; {{year-1}}
        </md-button>
        <span flex></span>
        <md-button ng-click='year = year + 1' hide-gt-sm>
          {{year+1}} &gt;
        </md-button>
      </div>
    </md-card>
  </md-content>
  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.js"></script>
  
  <script src="script.js"></script>
</body>

</html>

